<div class="row">
  <div class="card-body shadow d-flex">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{currentUser.image}}">
    </div>

    <div class="col-md-8">
      <h1>{{currentUser.name}}</h1>
      <p>{{currentUser.email}}</p>
      <p><strong>{{comments.length}}</strong> 已評論餐廳</p>
      <p><strong>{{currentUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
      <p><strong>{{currentUser.Followings.length}}</strong> followings(追隨者)</p>
      <p><strong>{{currentUser.Followers.length}}</strong> followers(追蹤者)</p>
      {{#ifCond user.id currentUser.id }}
      <a href='/users/{{user.id}}/edit'>
        <button type="button" class="btn btn-primary">Edit</button>
      </a>
      {{else}}

      {{#if isFollowed}}
      <form action="/following/{{currentUser.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
      {{else}}
      <form action="/following/{{currentUser.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
      {{/if}}

      {{/ifCond}}
    </div>
  </div>
</div>


<div class="row mx-0 justify-content-between">
  <div class="card shadow mt-5" style="width: 30%;">
    <h6 class="card-header"><strong>{{currentUser.Followings.length}}</strong> followings(追蹤者)</h6>
    <div class="card-body">
      {{#each currentUser.Followings}}
      <a href="/users/{{this.id}}" style="display: inline-block;">
        <img src="{{this.image}}" class="profile-img">
      </a>
      {{/each}}
    </div>
  </div>

  <div class="card shadow mt-5" style="width: 65%;">
    <h6 class="card-header"><strong>{{comments.length}}</strong> 已評論餐廳</h6>
    <div class="card-body">
      {{#each comments}}
      <a href="/restaurants/{{this.id}}" style="display: inline-block;">
        <img src="{{this.image}}" class="profile-img">
      </a>
      {{/each}}
    </div>
  </div>

</div>


<div class="row mx-0 justify-content-between">
  <div class="card shadow mt-5" style="width: 30%;">
    <h6 class="card-header"><strong>{{currentUser.Followers.length}}</strong> followers(追隨者)</h6>
    <div class="card-body">
      {{#each currentUser.Followers}}
      <a href="/users/{{this.id}}" style="display: inline-block;">
        <img src="{{this.image}}" class="profile-img">
      </a>
      {{/each}}
    </div>
  </div>

  <div class="card shadow mt-5" style="width: 65%;">
    <h6 class="card-header"><strong>{{currentUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</h6>
    <div class="card-body">
      {{#each currentUser.FavoritedRestaurants}}
      <a href="/restaurants/{{this.id}}" style="display: inline-block;">
        <img src="{{this.image}}" class="profile-img">
      </a>
      {{/each}}
    </div>
  </div>
</div>